# basically ignore
**/old/*                                        linguist-vendored
**/emp32-2000-assembly-syntax-highlighting/*    linguist-vendored
**/g-syntax-highlighting/*                      linguist-vendored
**/docs/*                                       linguist-documentation=true

# .h = C++
# .eas = Assembly (temp)

*.h     linguist-language=cpp
*.eas   linguist-language=Assembly
# *.cpp   linguist-language=cpp text=auto

# nslib headers are C++
ECA/libexec/nslib/include/* linguist-language=cpp
