*               text=auto
*.              linguist-language=C++
*.cpp           linguist-language=C++
*.h             linguist-language=C++
*.iss           linguist-language=Inno Setup
*.eas           linguist-language=Assembly
*.md            linguist-language=Markdown

IssueTemplate   linguist-language=text
LICENSE         linguist-language=text
AUTHORS         linguist-language=text
Notes           linguist-language=text
TODO            linguist-language=text
IssueLog        linguist-language=text
ChangeLog       linguist-language=text

Makefile        linguist-language=Makefile
